.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

/* body {
	background-image: url("./images/greece1.jpeg");
} */

table {
	width: 100%;
	border-spacing: 5px;
}

table,
th,
td {
	border: 1px solid black;
}

button {
	width: 150px;
	height: 40px;
	color: white;
	margin-top: 5px;
	font-weight: bold;
}

.submit {
	background-color: blue;
}

.special {
	background-color: crimson;
}

#zip {
	height: 40px;
	font-weight: 300;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 20vh;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
